@import '../../../../scss/variables';

.api-rest {
  display: flex;
  flex-wrap: wrap;

  h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: $spacing-m;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > li {
    background: $linen;
    border: $border-xxs solid $dust;
    box-sizing: border-box;
    margin-top: $spacing-m;
    padding: $spacing-m;
    width: 25%;

    strong {
      display: inline-block;
      font-weight: 500;
      width: 50px;
    }

    &:nth-child(odd) {
      background: darken($linen, 3%);
    }

    ul {
      border-bottom: $border-xxs solid $dust;
      font-size: 1.1em;
      margin-bottom: $spacing-m;
      padding-bottom: $spacing-m;
    }
  }
}
