// Colours (primary)
$tree: #015b35;
$cloud: #fff;

// Colours (secondary)
$sky: #1a376f;
$sea: #72f0ba;
$soil: #8b4934;
$coral: #ff7350;
$blossom: #ffd1b8;
$sand: #e6bc8a;
$sun: #e1fe2c;

// Colours (neutrals)
$coal: #000;
$carbon: #3c3b38;
$fossil: #5b5a56;
$stone: #b8b7ad;
$dust: #dad9d5;
$linen: #f2f2ed;

// Colours (status)
$red: #d31313;
$green: #28b270;
$yellow: #ffd332;
