// Custom breakpoints
$h1-font-size: 32px;
$h1-line-height: 42px;

$h2-font-size: 24px;
$h2-line-height: 32px;

$h3-font-size: 20px;
$h3-line-height: 24px;

$h4-font-size: 16px;
$h4-line-height: 24px;
